* {
	box-sizing: border-box;
}

h1, form {
	text-align: center;
}

h1 {
	margin-top: 55px;
	font-family: 'Boogaloo', cursive;
	color: #000000;
	font-size: 550%;
}

ul {
    list-style-type: none;
    margin: 15px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}